*.txt
!requirements.txt
*.pyc
*.csv
*.xlsx
*.png
*.jpeg
*.db
*.pkl
!model.pkl
!original_model.pkl
!data/data.pkl
*.dot
*.DS_Store
.idea/
__pycache__/
venv/
scratch.py
scratch/
create_ml_project_structure.sh